* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

ul {
  display: flex;
  margin: 20px 0;
  width: 100%;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

a:hover {
  color: rgb(214, 214, 214);
  transition: all 0.2s;
}

/* bagian article */

article {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(159, 85, 228);
  padding: 80px 0;
}

img {
  width: 700px;
}

.bg {
  text-align: center;
  box-sizing: border-box;
}

.bg h1 {
  text-transform: capitalize;
  margin-bottom: 30px;
}
.description {
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  article {
    grid-template-columns: auto;
  }
  img {
    width: 300px;
  }
}
@media only screen and (max-width: 1080px) {
  article {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 420px) {
  article {
    padding: 60px 0;
  }
  .bg h1 {
    padding: 0;
  }
}

/* part main & card my project */

main {
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  background-color: rgb(159, 85, 228);
}
.card {
  width: auto;
  border-radius: 15px;
  background-color: blueviolet;
  padding: 15px;
}

.computer-programming {
  width: 300px;
  border-radius: 4px;
}

@media only screen and (max-width: 1080px) {
  main {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 420px) {
  main {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 720px) {
  main {
    grid-template-columns: auto;
  }
}
